In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
train_data_orig = pd.read_csv('C:\\Users\\marku\\Documents\\SteelProdData_Project\\data\\raw\\normalized_train_data.csv')
test_data_orig = pd.read_csv('C:\\Users\\marku\\Documents\\SteelProdData_Project\\data\\raw\\normalized_test_data.csv')

In [10]:
conc_data=pd.concat([train_data_orig, test_data_orig], ignore_index=True)

In [ ]:
#Replace missing values with mean of the columns
numerical_cols = conc_data.select_dtypes(include=np.number).columns.tolist() 
conc_data[numerical_cols] = conc_data[numerical_cols].apply(lambda x: x.fillna(x.mean()), axis=0) # Fill NaN with column mean

In [26]:
#Check for missing values

# Define a set of values that should be treated as empty/missing
EMPTY_TOKENS = {"", " ", "NA", "N/A", "null", "None", "nan", "-"}

# Create a copy of the dataframe to avoid modifying the original
conc_data_check = conc_data.copy()

# Convert empty strings and placeholder values to NaN in object columns
obj_cols = conc_data_check.select_dtypes(include=["object"]).columns
for c in obj_cols:
    conc_data_check[c] = (
        conc_data_check[c]
        .astype(str)        # Convert all values to strings
        .str.strip()        # Remove leading/trailing whitespace
        .replace(EMPTY_TOKENS, np.nan)  # Replace empty tokens with NaN
    )

# Create a summary dataframe with statistics about each column
summary = pd.DataFrame({
    "dtype": conc_data_check.dtypes.astype(str),      # Data type of each column
    "rows_total": len(conc_data_check),               # Total number of rows
    "non_null": conc_data_check.notna().sum(),        # Count of non-null values
    "nulls": conc_data_check.isna().sum(),            # Count of null values
    "null_frac": (conc_data_check.isna().mean()),     # n_NaN/n_all_Entries
    "n_unique": conc_data_check.nunique(dropna=True), # Count of unique non-null values
})
# Sort the summary by null fraction
summary = summary.sort_values("null_frac", ascending=False)


display(summary)

           dtype  rows_total  non_null  nulls  null_frac  n_unique
output   float64       10979     10979      0        0.0       250
input1   float64       10979     10979      0        0.0         5
input20  float64       10979     10979      0        0.0        51
input19  float64       10979     10979      0        0.0       210
input18  float64       10979     10979      0        0.0        42
input17  float64       10979     10979      0        0.0       164
input16  float64       10979     10979      0        0.0        70
input15  float64       10979     10979      0        0.0        44
input14  float64       10979     10979      0        0.0        55
input13  float64       10979     10979      0        0.0        76
input12  float64       10979     10979      0        0.0       141
input11  float64       10979     10979      0        0.0       114
input10  float64       10979     10979      0        0.0       117
input9   float64       10979     10979      0        0.0        54
input8   float64       10979     10979      0        0.0        86
input7   float64       10979     10979      0        0.0        32
input6   float64       10979     10979      0        0.0      1838
input5   float64       10979     10979      0        0.0        25
input4   float64       10979     10979      0        0.0       286
input3   float64       10979     10979      0        0.0       431
input2   float64       10979     10979      0        0.0       315
input21  float64       10979     10979      0        0.0       185